:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-title-text-color: #ffffff;
  --primary-bg-color: #f4f4f4;
  --secondary-bg-color: #f5f4fa;
  --primary-dark-bg-color: #2f303a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
ul {
  list-style: none;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  margin: 0;
  padding: 0;
  text-decoration: none;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.5;
  & span {
    color: var(--accent-color);
  }
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
}
.header {
  background-color: var(--primary-bg-color);
}
.filter-buttons button {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #212121;
  background: #f5f4fa;
  text-align: center;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
h2 {
  /* text-align: center; */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: #212121;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 3%;
}
.intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  background: var(--secondary-bg-color);
  list-style: none;
}
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.hero {
  background: rgba(47, 48, 58, 1);
  width: 1600;
  height: 600;
  top: 80px;
  text-align: center;
}
.contact {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background: #2f303a;
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 2.14;
  letter-spacing: 6%;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffffff;
}
footer {
  background: #2f303a;
}
address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}
.portfolio-list {
  list-style: none;
}
